<div class="container-fluid h-100">
  <div class="row flex-nowrap min-h-100">
    <app-sidebar class="row no-gutters flex-nowrap"></app-sidebar>
    <div class="col">
      <div class="row row-offcanvas justify-content-center">
        <div class="col-md-10">
          <h2>Heading</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ipsum neque, tempus eu vehicula quis, pharetra a augue. Pellentesque non nisi metus. Mauris imperdiet malesuada ullamcorper. Sed vel malesuada enim. Aenean id mauris vestibulum, cursus leo non, fermentum diam. Ut ullamcorper massa nulla, ut dapibus nisl auctor quis. Aliquam eget elementum libero. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Phasellus eu vehicula ex, non fermentum est. Phasellus id varius urna. Aliquam enim odio, lobortis at congue at, suscipit eget lacus. Nullam bibendum est magna, in ultrices tortor venenatis eget. Aliquam sed nisl non metus ullamcorper porttitor eget non eros.</p>

          <p>Donec finibus justo in arcu pellentesque, eu lacinia arcu lobortis. Phasellus ut tellus vitae ex scelerisque posuere nec vitae dolor. Curabitur tempor diam sit amet felis vulputate, a pretium felis suscipit. Curabitur ligula ex, pharetra nec placerat sed, auctor at urna. Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce quis commodo metus, sit amet vestibulum sapien. Nam porta ligula vel ipsum tristique congue et sit amet lorem. Quisque lobortis orci ac consectetur lobortis. Vestibulum in nisl et leo malesuada lobortis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis sit amet mi urna. Cras sapien odio, gravida vitae massa sit amet, sagittis dignissim leo. Phasellus molestie faucibus nisi, ac cursus dolor mattis at. Quisque viverra mattis tellus, ac dapibus elit congue et.</p>

          <p>Proin rhoncus est eget vulputate consequat. In hac habitasse platea dictumst. Praesent vehicula augue ac mauris scelerisque, non tempor elit dapibus. Sed cursus, purus a volutpat cursus, tortor lectus imperdiet nisl, vel lobortis odio purus a massa. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Phasellus in neque elementum, faucibus urna a, posuere dolor. Nam at vehicula eros. Morbi ullamcorper nisi vel est mattis, vestibulum consectetur elit convallis. Sed accumsan erat eu vehicula luctus.</p>

          <p>In ultricies neque enim, id tincidunt magna consectetur a. Nunc cursus venenatis ipsum non efficitur. Nulla elementum ipsum lorem, eget rutrum risus sagittis id. Integer tellus elit, congue elementum cursus vel, maximus in enim. In quis sem id libero egestas euismod. Nam ultricies dui a facilisis efficitur. Suspendisse ac finibus nisi, ac gravida urna. Sed blandit nulla at felis scelerisque, facilisis facilisis libero pellentesque. Morbi sodales turpis eu nibh efficitur laoreet.</p>
        </div>
      </div>
    </div>
  </div>
</div>
